# VS Code environment files
.vscode/

# Build files
__pycache__/*
Assignment1/__pycache__/*
Assignment2/Question1/__pycache__/*
Assignment2/Question2/__pycache__/*
Assignment3/Question1/__pycache__/*
Assignment3/Question2/__pycache__/*
